<section class="bg-emerald-600 h-screen flex flex-col items-center justify-center">
  <div class="bg-white py-12 px-10 w-96 rounded-md">
    <h2 class="text-xl font-bold mb-6">Sign up</h2>
  
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "border border-2 rounded border-emerald-600 focus:border-red-500 w-full mt-1 mb-3" %>
      </div>
    
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border border-2 rounded border-emerald-600 focus:border-red-500 w-full mt-1 mb-3" %>
      </div>
    
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "border border-2 rounded border-emerald-600 focus:border-red-500 w-full mt-1 mb-3" %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border border-2 rounded border-emerald-600 focus:border-red-500 w-full mt-1 mb-3" %>
      </div>
    
      <div class="actions">
        <%= f.submit "Sign up", class: "bg-emerald-600 text-white py-1.5 px-4 rounded-md mb-4" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</section>