<%= render 'layouts/navbar' %>

<section class="bg-emerald-500 min-h-screen pt-4 flex flex-col items-center container">
  <h2 class="font-bold text-white text-3xl mb-6">Public Recipes</h2>
  <% @recipes.each do |recipe| %>
    <div class="card mb-3 text-lg bg-emerald-300 container-sm">
      <div class="card-body flex gap-5">
        <div class="">
          <h2 class="card-title font-bold">
            <%= link_to recipe.name, recipe %>
          </h2>
          <small class="author">by <%= recipe.user.name%></small>
        </div>
        <div class="flex flex-col">
          <p>Total food items: <strong><%= recipe.foods.count %> </strong></p>
          <p class="mt-3">Total price: $<strong><%= recipe.food_recipes.sum { |fr| fr.quantity * fr.food.price } %></strong></p>
          <div class="flex gap-4">
            <% if can? :destroy, recipe %>
                <div>
                  <%= form_with url: recipe_path(recipe) , method: :delete do %>
                    <%= submit_tag 'Remove', class: "btn btn-remove btn-danger bg-red-700 mt-3 px-3 py-1 rounded-md text-white" %>
                  <% end %>
                </div>
                <div>
                  <%= form_with model: recipe, url: update_public_status_recipe_path(recipe), method: :patch do |f| %>
                    <%= submit_tag 'Make Private', class: "btn btn-light bg-white mt-3 px-3 py-1 rounded-md text-black" %>
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>