<h2 class="details-header"> <%= @recipe.name%> </h2>

<div class="details-container">
<div class="preparation-public">
<p>Preparation time:<strong> <%= @recipe.preparation_time%>  minutes </strong></p>
<%if can? :destroy, @recipe%>
    <%= form_with model: @recipe, url: update_public_status_recipe_path(@recipe), method: :patch do |f| %>
    <small class="public-switch">Public</small>
    <label class="switch"> 
        <%= f.check_box :public, onchange: 'this.form.submit()' %>
        <span class="slider round"></span>
    </label>
    <% end %>
<% end %>
</div> <br>
<p>Cooking time: <strong><%= @recipe.cooking_time%> minutes </strong></p> <br>
<p><strong>Steps go here... </strong></p>


<div class="button-container">
<%= link_to 'Generate Shopping List', general_shopping_list_recipe_path(@recipe), class: 'generate-shoping-list' %> <% if can? :destroy, @recipe%>
<button id="ingredient" class="add-ingredient">Add ingredient</button>
<% end %>
</div>
<hr class="horline">
</div>
<table class="ingredient-table">
  <tr>
    <th class="food">Food</th>
    <th class="value">Quantity</th>
    <th class="value">Value</th>
    <th class="food">Actions</th>
  </tr>
  <% @recipe.food_recipes.each do |joint_table| %>
    <tr>
      <td class="first"><%= joint_table.food.name %></td>
      <td class="second"  ><%= joint_table.quantity %></td>
      <td class="second"><%= joint_table.quantity * joint_table.food.price%></td>
      <td class="first">
         <%= link_to 'Modify', edit_recipe_food_recipe_path(@recipe, joint_table) %>
         <%= form_with url: recipe_food_recipe_path(@recipe, joint_table), method: :delete do %>
               <%= submit_tag 'Remove' %>
         <% end %>
      </td>
    </tr>
  <% end %>
</table>
  
<div id="ingredients" class="ingredients">
<%= form_with(model: [@recipe, FoodRecipe.new], url: recipe_food_recipes_path(@recipe)) do |f| %>  <div>
    <%= f.label :food_id %>
    <%= f.collection_select :food_id, @foods.all, :id, :name %>
  </div>
  <div>
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>
  <%= f.submit %>
<% end %>
</div>